html{
    background-color: #1F2937;
}

#header, #first, #second, #third, #fourth, #footer{
    padding-left: 100px;
    padding-right: 100px;
}

#header{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    position: sticky;
    background-color: #1F2937;
    align-items: center;
    display: flex;
    justify-content: space-around;
}

#header > h3{
    color: #F9FAF8;
}

#header .item{
    display: flex;
}

#header .item > a{
    text-decoration: none;
    color: #E5E7EB;
    padding: 15px;
}

#first{
    background-color: #1F2937;
    display:flex; 
    flex-wrap:wrap;
    align-items: center;
    justify-content: space-evenly;  
    padding-top: 50px;
    padding-bottom: 75px;
}

#first > div > div:nth-child(1){
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bolder;
    font-size: 48px;
    color: #F9FAF8;
    max-width: 450px;
}

#first > div > div:nth-child(2){
    font-size: 16px;
    color:  #E5E7EB;
    max-width: 500px;
}

#first > div > div:nth-child(3){
    margin-top: 15px;
}

#first > div > div:nth-child(3) > a > button{
    color: white;
    border: 2px solid #3882F6;
    background-color:#3882F6;
    border-radius: 5px 5px 5px 5px;
    width: 100px;
    height: 25px;
}

#second{
    background-color: whitesmoke;
    align-items: center;
}

#second > div:nth-child(1){
    font-size: 36px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    padding: 25px;
    display: flex;
    justify-content:space-around;
}

#second > div:nth-child(2){
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.smallImages{
    width: 200px;
    height: 200px;
    border:3px solid #3882F6;
    border-radius: 15px 15px 15px 15px;
}

.smallImageText{
    max-width: 200px;
    font-size: 14px;
}

.smallImageHolder{
    padding: 50px;
}

#third{
    background-color: #E5E7EB;
}

#third > div:nth-child(1){
    font-weight: lighter;
    font-size: 24px;
    color: #1F2937;
    padding-top: 80px;
    margin:auto;
    width: 80%;
}

#third > div:nth-child(2){
    font-size: 16px;
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: flex;
    justify-content: flex-end;
    flex-wrap: nowrap;
    padding-right: 100px;
    padding-bottom: 75px;
}

#fourth{
    padding-top: 100px;
    background-color: whitesmoke;
    height: 250px;
    align-items: center;
}

#fourth > div{
    align-items: center;
    margin: auto;
    width: 50%;
    max-width: 700px;
    background-color: #3882F6;
    padding:50px;
    border:#3882F6;
    border-radius: 10px 10px 10px 10px;
    display: flex;
    justify-content: space-evenly;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
}

#fourth > div > div:nth-child(2) > a > button{
    color: white;
    background-color:#3882F6;
    border:2px solid white;
    border-radius: 5px 5px 5px 5px;
    width: 100px;
    height: 25px;
}

#footer{
    background-color: #1F2937;
    padding: 20px;
}

#footer > div{
    color: #F9FAF8;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: flex;
    justify-content: space-evenly;
}